*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body {
    background-color: rgb(0, 0, 0);
}
/*-----------------GRID------------- */
#grid {
    display: grid;
    flex-wrap: wrap;
    grid-template-areas: 
        "logo menu menu"
        "costos costos costos"
        "pie pie pie";
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px auto auto;
}

/*--------------- MENU NAVEGADOR-------------- */
header{ 
    background: rgb(0, 0, 0);
    grid-area: logo;
    position: static;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header img{ /* ---------LOGO salvadordelatijera------------ */
    height: 70px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    margin-top: 20px;
    align-items: center;
}
/* ----------------PESTAÑAS MENU----------------- */
nav{ 
    display: flex;
    flex-wrap: wrap;
    font-family: 'Ubuntu', sans-serif;
    grid-area: menu;
    background: rgb(0, 0, 0);
    justify-content: space-between;
    padding-top: 20px;

}
 nav ul {
    display: flex;
    flex-wrap: wrap;
    font-style: italic;
    font-size: large;
    align-items: center;
}
nav ul li {
    list-style: none;
    text-decoration: none;
    padding: 0px 20px 5px 20px;
    align-items: center;
} 
/* -------------------ICONOS RS------------------- */
nav ul li a {
    text-decoration: none;
    color: white;
    align-content: space-between;
    align-items: center;
}  
/* ----------------------------------costos----------------------- */

main{
    grid-area: costos;
}

#costos {
    color: white;
    font-family: 'Ubuntu', sans-serif; 
    display: flex;
    display: grid;
    gap: 70px;
    grid-template-columns: 1fr 1fr 1fr; 
    padding: 30px;
    margin: 0 auto;
    max-width: 1000px;
}
/* ---------------------tipos de sesiones------------------- */
.standar {
    line-height: 40px;

}
.plus {
    line-height: 40px;

}
.premium {
    line-height: 40px;
    
}
/* --------------------------FOOTER---------------------------- */
footer{
    grid-area: pie;
    background: rgb(0, 0, 0);
    font-family: 'Ubuntu', sans-serif;
    color: grey;
    font-size: small;
    font-style: italic;
    align-items: center;
    justify-content: center;
}
p a {
    text-decoration: none;
    color: grey;
    align-items: center; 
}

header, nav, main, footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* ---------------------------RESPONSIVE--------------------------------------- */
@media (min-width: 375px) and (max-width: 600px) {
    #grid {
        grid-template-rows: 50px auto auto;
    }
    header img { 
        height: 50px;
        padding-left: 5px;
        margin-top: 10px;
    }
    nav {
        justify-content: space-between;
        padding-top: 10px;
    }
    nav ul {
        font-size: small;
    }
    nav ul li {
        padding: 0px 20px 5px 20px;
    }
    #costos {
        grid-template-columns: 1fr ; 
    }

    footer {
        margin-top: 250px;
    }
    .face {
        height: 10px;
    }
    .insta {
        height: 10px;
    }
}