* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
body {
    background-color: black;
    background: local;
}
/* ----------Pestañas menu----------- */

.navbar {
    font-family: 'Ubuntu', sans-serif;
    background: rgb(0, 0, 0);
}
nav ul {
    font-style: italic;
    font-size: medium;
}
nav ul li {
    text-decoration: none;
    padding: 10px 5px 10px 20px;
}
/* -------icinos redes sociales------- */
nav ul li a { 
    text-decoration: none;
    color: white;
    align-content: space-between;
    align-items: center;
}
/* --------------------MAIN DE HOME------------------- */
main {
    background: rgb(0, 0, 0);
    }

    .img-fluid:hover {
        transform: scale(1.3,1.3) translate(-0%, 2%);
        transition: 1s;
        z-index: 100;
        top: 200%;
        right: 10%;
        }

    footer {
        background-image: linear-gradient( black,rgb(20, 28, 48));
        color: rgb(110, 121, 128);
        font-size: medium;
        font-family: 'Ubuntu', sans-serif;
        font-style: italic;
    }




/* ----------------------------------RESPONSIVE------------------------------------- */
@media (min-width: 300px) and (max-width: 800px) {

    nav ul {
        font-size: small;
    }
    nav ul li {
        padding: 5px 10px 3px 200px;
    }
   

}
    @media (min-width: 300px) and (max-width: 500px) {
    

    }

