@charset "UTF-8";
* {
  margin: 0;
  padding: 0%;
  box-sizing: 0;
}

/* -------------VARIABLES---------------- */
/* ----------------------------MIXIN-------------------------- */
/* --------------------HOME-------------------- */
body {
  background-color: #000000;
}

.slide {
  width: 100%;
  margin-top: 5px;
}
.slide img {
  max-width: 100%;
}

/* -------------VARIABLES---------------- */
/* ----------------------------MIXIN-------------------------- */
/* ------------------PORTAFOLIO--------------  */
main {
  background: #000000;
}

.img-fluid:hover {
  transform: scale(1.3, 1.3) translate(0%, 2%);
  transition: 1s;
  z-index: 100;
  top: 200%;
  right: 10%;
}

/* -------------VARIABLES---------------- */
/* ----------------------------MIXIN-------------------------- */
/* -------------------BIO salvadordelatijera---------------- */
#acerca {
  background: #000000;
  align-items: center;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#acerca .salva {
  -webkit-animation: transform 4s;
          animation: transform 4s;
}
#acerca .salva h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  text-align: center;
}
#acerca .salva p {
  font-family: "Ubuntu", sans-serif;
  vertical-align: middle;
  font-size: small;
  text-align: center;
}
#acerca .fotoyo {
  justify-content: center;
  align-items: center;
  display: flex;
}
#acerca .fotoyo img {
  max-width: 450px;
  -webkit-animation: transform 9s;
          animation: transform 9s;
}

/* -------------------ANIMACIONES---------------------------- */
@-webkit-keyframes transform {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes transform {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
/* -------------VARIABLES---------------- */
/* ----------------------------MIXIN-------------------------- */
/* ----------------------------CONTACTO------------------------------ */
.contactanos {
  display: grid;
  grid-template-areas: "form datos";
  margin: 0 auto;
  max-width: 1250px;
}
.contactanos #contact {
  grid-area: form;
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
  width: 60%;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #0d162b;
  padding-left: 5px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.contactanos #contact input {
  background-color: #fbfbfb;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}
.contactanos #contact textarea {
  width: 90%;
}
.contactanos #contact .botonEnviar input {
  text-transform: uppercase;
}
.contactanos .datosContac {
  grid-area: datos;
  color: #bebebe;
  text-decoration: none;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

/* -------------VARIABLES---------------- */
/* ----------------------------MIXIN-------------------------- */
/* ----------------------------------COSTOS----------------------- */
#costos {
  background-color: #000000;
  font-family: "Ubuntu", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding-top: 40px;
}
#costos .standar {
  /* ------------------ standar ------------- */
  margin: 10px 2rem;
  padding: 45px 0px 0px 0px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(19px);
  -webkit-backdrop-filter: blur(19px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
#costos .standar h3 {
  /* -----------cabeza---------- */
  color: rgb(186, 203, 213);
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  line-height: 40px;
}
#costos .standar h6 {
  /* ------------texto---------- */
  font-family: "Ubuntu", sans-serif;
  color: rgb(186, 203, 213);
  text-align: justify;
  text-align: center;
  line-height: 50px;
}
#costos .plus {
  /* ------------------ plus ------------- */
  margin: 10px 2rem;
  padding: 45px 0px 0px 0px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(19px);
  -webkit-backdrop-filter: blur(19px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
#costos .plus h3 {
  /* -----------cabeza---------- */
  color: rgb(186, 203, 213);
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  line-height: 40px;
}
#costos .plus h6 {
  /* ------------texto---------- */
  font-family: "Ubuntu", sans-serif;
  color: rgb(186, 203, 213);
  text-align: justify;
  text-align: center;
  line-height: 50px;
}
#costos .premium {
  /* ------------------ premium ------------- */
  margin: 10px 2rem;
  padding: 45px 0px 0px 0px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(19px);
  -webkit-backdrop-filter: blur(19px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
#costos .premium h3 {
  /* -----------cabeza---------- */
  color: rgb(186, 203, 213);
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  line-height: 40px;
}
#costos .premium h6 {
  /* ------------texto---------- */
  font-family: "Ubuntu", sans-serif;
  color: rgb(186, 203, 213);
  text-align: justify;
  text-align: center;
  line-height: 50px;
}

/* -------------VARIABLES---------------- */
/* ----------------------------MIXIN-------------------------- */
/* ----------Pestañas MENU----------- */
body {
  background-color: #000000;
}

.navbar {
  font-family: "Ubuntu", sans-serif;
  background: #000000;
  font-style: italic;
  font-size: small;
}
.navbar ul li {
  text-decoration: none;
  padding: 5px;
  align-content: center;
}

/* --------------------------FOOTER---------------------------- */
.footer {
  font-family: "Noto Sans", sans-serif;
  color: #bebebe;
  font-size: small;
  font-style: italic;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(black, rgb(20, 28, 48));
  margin-top: 50px;
}
.footer #redesFooter {
  margin: 0 auto;
}
.footer a {
  text-decoration: none;
  color: #ffffff;
  align-items: center;
}
.footer .footerplus {
  align-items: center;
}
.footer .footerplus ul {
  display: flex;
  flex-direction: row;
  margin-left: 40 px;
  margin-right: 40 px;
  justify-content: center;
  gap: 40px;
}
.footer .footerplus ul li {
  list-style: none;
}
.footer .footerplus ul li a {
  text-decoration: none;
  color: #bebebe;
}

/* ---------------------------RESPONSIVE--------------------------------------- */
@media (min-width: 300px) and (max-width: 800px) {
  .navbar {
    font-size: small;
  }

  /* ------GALERIA------- */
  .img-fluid:hover {
    transform: none;
  }

  /* ------ABOUTME----- */
  #acerca {
    grid-template-columns: 1fr;
  }
  #acerca .salva h1 {
    font-size: 18px;
  }
  #acerca .salva p {
    text-align: center;
    font-size: smaller;
    padding: 0px 10px 0px 10px;
  }

  /* ------CONTACTO----- */
  .contactanos {
    display: grid;
    grid-template-areas: "form" "datos";
  }
  .contactanos #contact {
    grid-area: form;
  }
  .contactanos .datosContac {
    grid-area: datos;
  }
  .contactanos .redes {
    display: none;
  }

  /* ------COSTOS----- */
  #costos {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=stilos.css.map */