@charset "UTF-8";
* {
  margin: 0;
  padding: 0%;
  box-sizing: 0;
}

/* --------------------HOME-------------------- */
.fotosHome {
  width: 100%;
}

/* ------------------PORTAFOLIO--------------  */
main {
  background: rgb(0, 0, 0);
}

.img-fluid:hover {
  transform: scale(1.3, 1.3) translate(0%, 2%);
  transition: 1s;
  z-index: 100;
  top: 200%;
  right: 10%;
}

* {
  margin: 0;
  padding: 0%;
  box-sizing: 0;
}

/* -------------------BIO salvadordelatijera---------------- */
#acerca {
  background: rgb(0, 0, 0);
  align-items: center;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#acerca .salva {
  -webkit-animation: transform 4s;
          animation: transform 4s;
}
#acerca .salva h3 {
  font-family: "Whisper", cursive;
  font-size: 40px;
  text-align: center;
}
#acerca .salva p {
  font-family: "Ubuntu", sans-serif;
  vertical-align: middle;
  text-align: center;
  padding-left: 10px;
}
#acerca .fotoyo {
  justify-content: center;
  align-items: center;
  display: flex;
}
#acerca .fotoyo img {
  max-width: 450px;
  -webkit-animation: transform 9s;
          animation: transform 9s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

/* ----------------------------CONTACTO------------------------------ */
main {
  justify-content: center;
  align-items: center;
  grid-area: contact;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
}

#contacto {
  font-family: "Ubuntu", sans-serif;
  color: white;
  width: 40%;
  margin-top: 30px;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: rgb(29, 33, 44);
  padding-left: 30px;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

input {
  background-color: #fbfbfb;
  width: 90%;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  width: 90%;
}

.botonEnviar input {
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0%;
  box-sizing: 0;
}

/* ----------------------------------COSTOS----------------------- */
#costos {
  background-color: black;
  font-family: "Ubuntu", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding-top: 40px;
}
#costos .standar {
  /* ------------------ standar ------------- */
  margin: 10px 2rem;
  padding: 45px 0px 0px 0px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(19px);
  -webkit-backdrop-filter: blur(19px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
#costos .standar h3 {
  /* -----------cabeza---------- */
  color: rgb(186, 203, 213);
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  line-height: 40px;
}
#costos .standar h6 {
  /* ------------texto---------- */
  font-family: "Ubuntu", sans-serif;
  color: rgb(186, 203, 213);
  text-align: justify;
  text-align: center;
  line-height: 50px;
}
#costos .plus {
  /* ------------------ plus ------------- */
  margin: 10px 2rem;
  padding: 45px 0px 0px 0px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(19px);
  -webkit-backdrop-filter: blur(19px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
#costos .plus h3 {
  /* -----------cabeza---------- */
  color: rgb(186, 203, 213);
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  line-height: 40px;
}
#costos .plus h6 {
  /* ------------texto---------- */
  font-family: "Ubuntu", sans-serif;
  color: rgb(186, 203, 213);
  text-align: justify;
  text-align: center;
  line-height: 50px;
}
#costos .premium {
  /* ------------------ premium ------------- */
  margin: 10px 2rem;
  padding: 45px 0px 0px 0px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(19px);
  -webkit-backdrop-filter: blur(19px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
#costos .premium h3 {
  /* -----------cabeza---------- */
  color: rgb(186, 203, 213);
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  line-height: 40px;
}
#costos .premium h6 {
  /* ------------texto---------- */
  font-family: "Ubuntu", sans-serif;
  color: rgb(186, 203, 213);
  text-align: justify;
  text-align: center;
  line-height: 50px;
}

/* ----------Pestañas MENU----------- */
body {
  background-color: black;
}

.navbar {
  font-family: "Ubuntu", sans-serif;
  background: rgb(0, 0, 0);
  font-style: italic;
  font-size: medium;
}
.navbar ul li {
  text-decoration: none;
  padding: 10px;
  align-content: center;
}

/* --------------------------FOOTER---------------------------- */
.footer {
  font-family: "Ubuntu", sans-serif;
  color: grey;
  font-size: small;
  font-style: italic;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(black, rgb(20, 28, 48));
}
.footer p a {
  text-decoration: none;
  color: grey;
  align-items: center;
}

/* ---------------------------RESPONSIVE--------------------------------------- */
@media (min-width: 300px) and (max-width: 800px) {
  #costos {
    grid-template-columns: 1fr;
  }

  .navbar {
    font-size: small;
  }
}/*# sourceMappingURL=stilos.css.map */