@import "vars";

/* -------------------BIO salvadordelatijera---------------- */
 #acerca {
    background: map-get($map: $color, $key: colorPrincipal);
    align-items: center;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    .salva {
        animation: transform 4s;
       
        h1{
            font-family: $fuenteP;
            font-size: 22px;
            text-align: center;   
        }
        
        p {
            font-family: $fuenteP;
            vertical-align: middle;
            font-size: small;
            text-align: center;
            padding-left: 10px;
        }
    }
    .fotoyo {
        justify-content: center;
        align-items: center;
        display: flex;

        img {
            max-width: 450px;
            animation: transform 9s;
        }
    
    }
}



/* -------------------ANIMACIONES---------------------------- */ 
@keyframes transform {
	0% {
		opacity: 0%;
	}
	50% {
		opacity: 50%;
	}
	100% {
		opacity: 100%;
	}

}