@import 'vars';


/* ----------------------------CONTACTO------------------------------ */

.contactanos{
    display: grid;
    grid-template-areas: "form datos";
    margin: 0 auto;
    max-width: 1250px;
    #contact {
        grid-area: form;
        font-family: 'Ubuntu', sans-serif;
        color: map-get($map: $color, $key: colorTextoS);
        width: 60%;
        margin: 0 auto; 
        margin-top: 40px;
        border-radius: 10px;  
        padding-top: 20px;
        padding-bottom: 20px;  
        background-color: map-get($map: $color, $key: colorSecundario); 
        padding-left: 5px; 
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        input {
            background-color: #fbfbfb; 
            width: 100%; 
            height: 40px; 
            border-radius: 5px;  
            border-style: solid; 
            border-width: 1px; 
            border-color: black; 
            margin-top: 10px;  
            padding-left: 10px;
            margin-bottom: 20px; 
        }
        
        textarea{
            width: 90%;
        }
        .botonEnviar input{
            text-transform: uppercase;
        }
    }
    
    .datosContac {
        grid-area: datos;
        color: map-get($map: $color, $key: colorTextoP);
        text-decoration: none;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }
}


