@import 'vars';

/* ----------------------------------COSTOS----------------------- */

#costos {
    background-color: map-get($map: $color, $key: colorPrincipal);
    font-family: 'Ubuntu', sans-serif; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-top: 40px;

    .standar { /* ------------------ standar ------------- */
        @include sesiones(10px);
    }
    .plus {  /* ------------------ plus ------------- */
        @include sesiones(10px);
    
    }
    .premium { /* ------------------ premium ------------- */
        @include sesiones(10px)
    }
}
