@import 'vars';
/* --------------------HOME-------------------- */

body {
	background-color: map-get($map: $color, $key: colorPrincipal);
}
.slide {
	width: 100%;
	margin-top: 5px;

	img {
		max-width: 100%;
	}
}
/* Mixin Texto h1 */

h1 {

	@include h1;
}

