/* -------------VARIABLES---------------- */
$color: (
    colorPrincipal: #000000,
    colorSecundario: #0d162b,
    colorTextoP: #bebebe,
    colorTextoS:#ffffff,
);


$fuenteP: 'Ubuntu', sans-serif;

$fuenteS: 'Noto Sans', sans-serif;

/* ----------------------------MIXIN-------------------------- */

@mixin sesiones($radius) {
    margin: 10px 2rem;
    padding: 45px 0px 0px 0px;
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 19px );
    -webkit-backdrop-filter: blur( 19px );
    border-radius: $radius;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
    h3 { /* -----------cabeza---------- */
        color: rgb(186, 203, 213);
        font-family: 'Ubuntu', sans-serif; 
        text-align: center;
        line-height: 40px;
    }
    h6 { /* ------------texto---------- */
        font-family: 'Ubuntu', sans-serif; 
        color: rgb(186, 203, 213);
        text-align: justify;
        text-align: center;
        line-height: 50px; 
    }
    
}