* {
    margin: 0;
    padding: 0%;
    box-sizing: 0;
    
}

body {
    background-color: black;
    background: local;
}
/* ----------Pestañas menu----------- */

.navbar {
    font-family: 'Ubuntu', sans-serif;
    background: rgb(0, 0, 0);
    font-style: italic;
    font-size: medium;

    ul li {
        text-decoration: none;
        padding: 10px 5px 10px 20px;

        a {  /* -------icinos redes sociales------- */
            text-decoration: none;
           
        } 
    } 
}
 /* -------------------BIO salvadordelatijera---------------- */
 #acerca {
    background: rgb(0, 0, 0);
    align-items: center;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    .salva {
        animation: transform 4s;
       
        h3{
            font-family: 'Whisper', cursive;
            font-size: 40px;
            text-align: center;   
        }
        
        p {
            font-family: 'Ubuntu', sans-serif;
            vertical-align: middle;
            text-align: center;
            padding-left: 10px;
        }
    }
    .fotoyo {
        justify-content: center;
        align-items: center;
        display: flex;

        img {
            max-width: 450px;
            animation: transform 9s;
        }
    
    }

    
}

/* --------------------------FOOTER---------------------------- */
.footer{
    font-family: 'Ubuntu', sans-serif;
    color: grey;
    font-size: small;
    font-style: italic;
    align-items: center;
    justify-content: center;
    /* -----------------EFECTO DEGRADADO AL FOOTER------------- */
    background-image: linear-gradient( black, rgb(20, 28, 48));
    p a {
        text-decoration: none;
        color: grey;
        align-items: center; 
    }
}

/* ---------------------------RESPONSIVE--------------------------------------- */
@media (min-width: 300px) and (max-width: 800px) {

    #acerca {
        grid-template-columns: 1fr;

    }

    .navbar{
        font-size: small;
    }
   
}
   
/* -------------------ANIMACIONES Y EFECTOS---------------------------- */ 
@keyframes transform {
    0% {
        opacity: 0%;

    } 
    50% {
        opacity: 50%;
    }  
    100% {
        opacity: 100%;
    } 


}
